.body-head{
 font-weight: 900;
  font-size: 34px;
  line-height: 44px;
  text-align: center;
  }

  .body-text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center ;
    
}
.hide-small-body{
  display: block;
}

  .cont{
    padding-left: 40px;
    padding-right: 40px;
  }

  .body1-img-cont{
    height: 28vh;
    border-radius: 9px;
    
  }
  .body1-img-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
border-radius: 9px;
    
  }

  

  .b-txt{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px; 
      margin-top: 10px;
      width: 142px;
  }

  .b-txt div{
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .body-btn{
    background-color: #4fb3f6;
    border-radius: 28px;
    padding: 18px 28px;
    color: #fff !important;
    text-decoration: none;
    font-size: 20px;
     font-weight: bold;
    text-transform: uppercase;
  }
  .body-btn:hover{
    background: #1091e7;
  }

  .carousel-text{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  .conver-b-text{
    width: 100%;
    height: auto;
    margin-right: 0;
   
  }
  .hide-body{
    display: block;
  }
  


  @media screen and (max-width:768px){
      .body-head{
      font-size: 21px;
    line-height: 24px;}
      

    .body1-img-cont{
      height:16vh;
     
    }


    .conver-b-text{
      width: auto;
      height: auto;      
    }
    .hide-body{
      display: none;
    }
    .b-txt div{
     
      font-size: 12px;
    }
.cont{
  padding:0 10px
}
.hide-small-body{
  display: block;
}

  }

  @media screen and (max-width:500px){

    .hide-small-body{
      display: none;
    }
  }