.navbar{
    background-color: #d9f0ff;
}
.mobile-logo{
    display: none;
}
.logo{
    display: block;
}

.navbar-toggler:focus{
    box-shadow: none !important; 
}


.nav-link{
    font-size: 15px;
    color: black !important;
    font-weight: 600;
        padding: 7px 26px; 
border-radius: 20px;
margin-right: 1.2rem;
text-transform: uppercase;

}

.nav-link:hover{
    text-decoration: none;
   color: black;
    background-color: rgba(104,123,140,.12) !important; 
    }

    #nav-btn{
        background-color: white;
        padding: 7px 19px !important; 
        
    }

@media screen and (max-width:768px){
    
.mobile-logo{
    display: block;
}
.logo{
    display: none;
}


.nav-link a:nth-child(1) {color: lime !important;
  }

  #nav-btn{
      margin-left: -8px;
      width: 40%;
  }

  .nav-link{
      font-size: 12px;
  }

}

@media screen and (max-width:400px){
    .nav-link{
        font-size: 12px;
    }
  
}